In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame({'Text':['Learnbay teaches NLP',
                        'NLP is in demand in market',
                        'We have to learn NLP']})

In [3]:
df

                         Text
0        Learnbay teaches NLP
1  NLP is in demand in market
2        We have to learn NLP

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
cv=CountVectorizer(binary=True)

In [9]:
bow_true=cv.fit_transform(df['Text'])

In [11]:
bow_true.toarray()

array([[0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
       [1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0],
       [0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1]], dtype=int64)

In [13]:
len(cv.vocabulary_)

11

In [17]:
cv.vocabulary_

{'learnbay': 5,
 'teaches': 8,
 'nlp': 7,
 'is': 3,
 'in': 2,
 'demand': 0,
 'market': 6,
 'we': 10,
 'have': 1,
 'to': 9,
 'learn': 4}

In [14]:
cv_1=CountVectorizer(binary=False)

In [15]:
bow_false=cv_1.fit_transform(df['Text'])

In [16]:
bow_false.toarray()

array([[0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0],
       [1, 0, 2, 1, 0, 0, 1, 1, 0, 0, 0],
       [0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1]], dtype=int64)